<nav class="navbar fixed-bottom py-0 border-top">
  <div class="container-fluid">
    <%= tag.div class: "navbar-text" do %>
      <%= icon(:fab, :github) %>
      Crafted with love and
      <%= link_to "chaltron", "https://github.com/vicvega/chaltron-template", class: "navbar-link" %>
    <% end %>
    <%= tag.div(revision, class: "navbar-text") unless revision.nil? %>
    </div>
</nav>
