// to keep space for navbars (top and bottom)
div#content {
  margin-bottom: 2.7em;
  margin-top: 2.7em;
}

/**
 * Flash messages
 *
 */
.flash-container {
  cursor: pointer;
  margin: 0;
  opacity: .8;
  position: fixed;
  text-align: center;
  top: 2.5em;
  width: 100%;
  z-index: 100;

  .alert {
    margin: 0;
  }
}


/**
 * Login
 *
 */

#login-box {
  margin-top: 100px;
  max-width: 650px;
}
