.flash-container {
  cursor: pointer;
  margin: 0;
  opacity: .8;
  position: fixed;
  text-align: center;
  top: 2.5em;
  width: 100%;
  z-index: 100;

  .alert {
    margin: 0;
  }
}

#login-box {
  max-width: 300px;

  input#username, input#user_login {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
  }

  input#password, input#user_password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

#navbar-top {
  padding-bottom: 0;
  padding-top: 0;

  .dropdown-menu {
    margin-top: 0;
  }
}
