<!DOCTYPE html>
<html>
  <head>
    <title><%= app_const_base.titleize %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%%= render 'layouts/navbar' %>
    <%%= render 'layouts/flash' %>
    <div id='content' class='container-fluid p-3 mx-auto'>
      <%%= yield %>
    </div>
    <div class='pt-4'>
      <%%= render 'layouts/footer' %>
    </div>
  </body>
</html>
