<!DOCTYPE html>
<html>
  <head>
    <title><%= app_const_base.titleize %></title>
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%%= render 'layouts/navbar' %>
    <%%= render 'layouts/flash' %>
    <div id='content' class='container-fluid p-3'>
      <%%= yield %>
    </div>
    <div class='pt-3'>
      <%%= render 'layouts/footer' %>
    </div>
  </body>
</html>
